<div class="container">
  <div class="screen">
    <h1>LyricUS</h1>
    {{#link-to "route-play-game" id="new-game"}}New Game{{/link-to}}
    {{#link-to "route-instructions" id="how-to-play"}}How to Play{{/link-to}}
  </div>
</div>
<br>
