<div class="splash-screen blue-card flex-center">
  <div>
    <h1>Lyricsss</h1>
    <p>A deck of cards, each with a common song lyric.</p>
    <br>
    {{#link-to "casual-mode"}}<h3>Casual</h3>{{/link-to}}
    <p>Try and come up with as many songs as you can for each lyric before moving on to the next one.</p>
    {{#link-to "competative-mode"}}<h3>Competitive</h3>{{/link-to}}
    <p> Each team has to come up with a new song before passing play to the other team. When one team doesn't come up with one in 30 seconds, the other team gets a point!</p>
  </div>
</div>
