<ul class="list-group">
  {{#each words.pastWords as |entry|}}
    <li class="list-group-item {{entry.team}}">
      <span class="{{entry.correctnessIcon}}"></span>
      {{entry.word}}
    </li>
  {{/each}}
</ul>
