body {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  background:
    linear-gradient(63deg, #b2e6c9 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #b2e6c9 78%),
    linear-gradient(63deg, transparent 34%, #b2e6c9 38%, #b2e6c9 58%, transparent 62%),
    #92c6a9;
  background-size: 16px 48px;
}

.splash-screen {
  z-index: 999;
  border-radius: 10px;
  background-color: #87C3F1;
  padding: 5%;
  margin: 3%;
}

/* My CSS */
.flex-center {
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  flex-direction: column;
}

.flex-row {
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  flex-direction: row;
}

.fullscreen {
  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.lyrics-card {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #888888;
}

.lyrics-card {
  width: 400px;
  height: 200px;
  padding: 15px;
}

.button-card {
  padding: 15px;
}

.timer {
  font-size: 20px;
  padding: 2px 5px;
  width: 84.03px;
}

.team-label {
  font-size: 20px;
}

.red {
  background-color: #FFCC87;
}

.blue {
  background-color: #87C3F1;
}